@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.titleBanner {
    color: black;
    border-bottom: solid 3px rgb(60, 24, 7);
	padding: 35px 35px 20px 35px;
	font-family: 'sans serif';
	font-style: oblique;
	font-size: 20px;
	text-align: right;
}

.rowBanner {
	text-align: right;
    display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;

	 h1 {
		margin: 0;
		font-size: 62px;
		font-weight: 500;
	 }
}

.titleOmp {
	font-family: 'rubik dirt';
	color: rgb(60, 24, 7);
}

.logoOmp {
	height: 100px;
	width: 100px;
}